asgiref==3.6.0
Django==4.1.7
djangorestframework==3.14.0
gunicorn==20.1.0
psycopg2-binary==2.9.5
pytz==2022.7.1
sqlparse==0.4.3
django-cors-headers==3.14.0
djangorestframework-simplejwt==5.2.2
Faker==17.6.0
factory-boy==3.2.1
flake8==6.0.0
coverage==7.2.1
django-nose==1.4.7
pyyaml==6.0
uritemplate==4.1.1