.react-datepicker__week:hover  {
    background-color: #377DFF;
    border-radius: 9000px;
    border-width: 2px;
    border-color: #000000;
}

.react-datepicker__day:hover {
    background-color: #b9d0ff !important;
    border-radius: 9999px !important;
}

.react-datepicker__week:hover .react-datepicker__day--in-range {
    background-color: #b9d0ff !important;
    border-radius: 9999px !important;
    color: black !important;
}

.react-datepicker__day--in-range {
    background-color: #b9d0ff !important;
    border-radius: 9999px !important;
    color: black !important;
}

