@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: 'Inter', sans-serif;
}

:root {
	--color-low: #CF222E;
	--color-average: #D29922;
	--color-high: #2DA44C;
	--color-done: #8250DF;
	--color-primary-button: #0087FF;
}

.bg-yellow {
	background: #E6E600;
}

.emoji {
		font-family: 'Noto Color Emoji', sans-serif;
}


